@model Electronic.Models.SubProductCategoryListModel
@{
    ViewData["Title"] = "SubProductCategoryList";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div style="border:1px solid #dbdade; border-radius:5px">
    <div class="container-fluid py-3 ">
        <div class="admin-heading ">
            <h1 style="font-size:25px" class="d-inline-block m-0">Sub Product Category List</h1>


            <!--Add Category Button trigger modal -->
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#AddCategoryModel">
                <i class="fa-solid fa-plus px-1"></i>
                Add Sub Product Category
            </button>

        </div>
    </div>
    <hr />

    <!--Edit Category Modal -->
    <div class="modal fade" id="EditCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Sub Product Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="SubEditProductCategory" enctype="multipart/form-data">
                    <div class="modal-body">

                        <input asp-for="Sub_P_C_Id" type="hidden" />
                        <div class="mb-3 col-md-12">
                            <div class="mb-3">
                                <label asp-for="Main_P_C_Id" class="form-label">Main Product Category Name </label>

                                <select class="form-select" asp-for="Main_P_C_Id" aria-label="Default select example">
                                    <option selected>Select Any Product Category Name...</option>
                                    @foreach (var item in Model.ProductCategoryList)
                                    {
                                        <option value="@item.P_C_Ids">@item.P_C_Name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Sub_P_C_Name" class="form-label">Name</label>
                            <input asp-for="Sub_P_C_Name" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Sub_P_C_Oder" class="form-label">Order</label>
                            <input asp-for="Sub_P_C_Oder" class="form-control" />
                        </div>
                        <div class="col-md-12 mb-3">
                            <label asp-for="Sub_P_C_Description" class="form-label">Description</label>

                            
                            <textarea asp-for="Sub_P_C_Description" rows="10" cols="57">
    </textarea>


                        </div>
                        <div class="col-md-12">
                            <p class="d-inline-block m-0 m-xl-2 m-lg-1">Product Image:</p>
                            <span id="passwordHelpInline" class="form-text m-0">
                                (Must be 650*180 pixels and is less than 3 MB in size.)
                            </span>

                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="far fa-images"></i></span>

                                <input class="form-control p-1" type="file" asp-for="Sub_P_C_Image_Temp">

                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>Current Product Image:</p>
                            <img id="currentProductImage" src="" alt="Current Image" height="150px" width="150px" />
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <label asp-for="Sub_P_C_Status" class="form-check-label" for="flexSwitchCheckDefault">Status</label>
                                <input asp-for="Sub_P_C_Status" class="form-check-input" type="checkbox" role="switch" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Add Category Modal -->
    <div class="modal fade" id="AddCategoryModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Sub Product Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="SubAddProductCategory" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="mb-3 col-md-12">
                            <div class="mb-3">
                                <label asp-for="Main_P_C_Id" class="form-label">Main Product Category Name </label>

                                <select class="form-select" asp-for="Main_P_C_Id" aria-label="Default select example">
                                    <option selected>Select Any Product Category Name...</option>
                                    @foreach (var item in Model.ProductCategoryList)
                                    {
                                        <option value="@item.P_C_Ids">@item.P_C_Name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Sub_P_C_Name" class="form-label">Name</label>
                            <input asp-for="Sub_P_C_Name" class="form-control" placeholder="Enter Category Name" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Sub_P_C_Oder" class="form-label">Order</label>
                            <input asp-for="Sub_P_C_Oder" class="form-control" />
                        </div>
                        <div class="col-md-12 mb-3">
                            <label asp-for="Sub_P_C_Description" class="form-label">Description</label>


                            <textarea asp-for="Sub_P_C_Description" rows="10" cols="57">
    </textarea>


                        </div>
                        <div class="col-md-12">
                            <p class="d-inline-block m-0 m-xl-2 m-lg-1">Product Image:</p>
                            <span id="passwordHelpInline" class="form-text m-0">
                                (Must be 650*180 pixels and is less than 3 MB in size.)
                            </span>

                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="far fa-images"></i></span>

                                <input class="form-control p-1" type="file" asp-for="Sub_P_C_Image_Temp">

                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <label asp-for="Sub_P_C_Status" class="form-check-label" for="flexSwitchCheckDefault">Status</label>
                                <input asp-for="Sub_P_C_Status" class="form-check-input" type="checkbox" role="switch" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="p-3">
        <table class="table border table-hover p-3 table-bordered" id="CategoryTable">
            <thead class="table-light">
                <tr>
                    <th>Main Product Category ID</th>
                    <th>Name</th>
                    <th>Order</th>
                    <th>Description</th>
                    <th>Product Image</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SubProductCategoryLists)
                {
                    <tr>
                        <td>@item.Main_P_C_Id</td>
                        <td>@item.Sub_P_C_Name</td>
                        <td>@item.Sub_P_C_Oder</td>
                        <td>@item.Sub_P_C_Description</td>
                        <td>
                            <img src="~/@item.Sub_P_C_Image" alt="Alternate Text" height="150px" width="150px" />

                        </td>

                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" onchange="StatusUpdate('@item.Sub_P_C_Id' ,this.checked)" style="width:30px" role="switch" type="checkbox" checked="@item.Sub_P_C_Status" />
                            </div>
                        </td>
                        <td>
                            <a onclick="editcategory(this,'@item.Sub_P_C_Id')" data-bs-toggle="modal" data-bs-target="#EditCategoryModal" class="btn btn-outline-success w-px-14 mx-1"><i class="fa-regular fa-pen-to-square"></i></a>
                            @* <a asp-action="" class="btn btn-outline-danger w-px-14 mx-1"><i class="fa-regular fa-trash-can "></i></a> *@
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    @if (TempData["alertupdate"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show alertpopup px-5" role="alert">
            <strong>@TempData["alertupdate"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        TempData["alertupdate"] = null;
    }
</div>

@section Scripts {

    <script>
        $(document).ready(function () {


            $('#CategoryTable').dataTable({
                /* No ordering applied by DataTables during initialisation */
                "order": []

            });
            new DataTable('#CategoryTable');
        })



        function editcategory(catval, id) {
            let cattable = catval.closest("tr"); // Find the closest <tr> row

            // Assign values to modal fields
            document.querySelector('#Sub_P_C_Id').value = id; // Hidden field
            document.querySelector('#Sub_P_C_Name').value = cattable.children[1].innerText; // Name
            document.querySelector('#Sub_P_C_Oder').value = cattable.children[2].innerText; // Order
            document.querySelector('#Sub_P_C_Description').value = cattable.children[3].innerText; // Description

            // Handle Image
            let imgSrc = cattable.children[4].querySelector("img").src;
            document.querySelector("#currentProductImage").src = imgSrc; // Show existing image

            // Handle Status Checkbox
            let statusCheckbox = cattable.children[5].querySelector("input[type='checkbox']");
            document.querySelector('#Sub_P_C_Status').checked = statusCheckbox.checked;
        }

        function StatusUpdate(categoryid, control) {
            console.log(categoryid);
            $.ajax({
                method: "POST",
                // dataType: "Text",
                url: "@Url.Action("SubCategory_Status", "Admin")",

                data: { id: categoryid, check: control },
                success: function (data) {
                    console.log(data);

                }
            });
        }
    </script>




}


